{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <div class="card border-primary mb-3 text-center" style="max-width: 50rem;">
          <div class="card-header"><h1>{% trans "Set Password" %}</h1></div>
          <div class="card-body">
                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </form>
          </div>
        </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
    


{% endblock %}
