{% extends "market/base.html" %}
{% block content %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
        {% for good in goods.good1 %}
            {% include "market/catgorycol.html" %}
        {% endfor %}
    </div>
    <div class="col">
        {% for good in goods.good2 %}
            {% include "market/catgorycol.html" %}
        {% endfor %}
    </div>
    <div class="col">
        {% for good in goods.good3 %}
            {% include "market/catgorycol.html" %}
            {% endfor %}
    </div>
    <div class="col">
        {% for good in goods.good4 %}
            {% include "market/catgorycol.html" %}
        {% endfor %}
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
<div>
  <ul class="pagination pagination-lg ">
    <li class="page-item">
      <a class="page-link" href="{% url 'catgorymovepage' catgoryid page %}?action=pre&method={{pagemethod}}&pagerange={{pagerange}}">&laquo;</a>
    </li>
    {% for num in pagerange %}
        {% if num == page %}
            <li class="page-item active">
                <a class="page-link" href="{% url pagemethod catgoryid num %}">{{ num }}</a>
            </li>  
        {% else %} 
            <li class="page-item">
                <a class="page-link" href="{% url pagemethod catgoryid num %}">{{ num }}</a>
            </li> 
        {% endif %}
    {% endfor %}
    <li class="page-item">
      <a class="page-link" href="{% url 'catgorymovepage' catgoryid page%}?action=nex&method={{pagemethod}}&pagerange={{pagerange}}">&raquo;</a>
    </li> 
  </ul>
</div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
{% endblock %}
