<div class="col">
    <div class="card border-success mb-3 text-center" style="width: 302px;">
        <img class="rounded" width="300px" height="300px" src="{{ good.图片.url }}" alt="商品图片"/> 
        <div class="card-footer">   
            {% block publish %}{% endblock publish %}
            {% block mycollect %}{% endblock mycollect %}            
            <a href="{% url 'userpublish' good.发布人.id %}">
                <img class="rounded-circle" width="50px" height="50px" src="{{ good.发布人.头像.url }}" alt="头像"/> 
                {{good.发布人.昵称}}           
            </a>
            <br>
            商品名称：{{ good.名称 }} 
            <div style="opacity:0.8; background-color: #abf5e7">
                <p>简介：{{good.简介}}</p> 
            </div>  
            <ol class="breadcrumb">
            {% for tag in good.分类.all %}
            <li class="breadcrumb-item active">
                <a href="{% url 'catgory' tag.id %}">
                    {{ tag.分类 }}
                </a>
            </li>
            {% endfor %}   
            </ol>
            价格：{{good.价格}}
            <br>
            手机：{{good.发布人.手机}}
            <br>
            QQ： {{good.发布人.QQ}}
            <br>
            地址：{{good.发布人.地址}}
            <br>
        </div>             
    </div>
</div>