<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
      {% if request.user.customer.头像 %}
        <img class="rounded-circle" width="50px" height="50px" src="{{ request.user.customer.头像.url }}" alt="头像"/> 
      {% endif %}  
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor03">

    <ul class="navbar-nav mr-auto" >
      {% if user.is_authenticated %}
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <button type="button" class="btn btn-outline-success">{{ request.user.customer.昵称 }}</button>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop3" type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">设置</button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop3" style="">
          <a class="dropdown-item" href="{% url 'setting' %}">用户信息</a>
          <a class="dropdown-item" href="{% url 'account_logout' %}">登出</a>
        </div>
      </div>
    </div>
      <li class="nav-item {{ mypublish_status }}">
        <a class="nav-link" href="{% url 'mypublish' %}">我的发布</a>
      </li>
      <li class="nav-item {{ publish_status }}">
        <a class="nav-link" href="{% url 'publish' %}">发布</a>
      </li>
      <li class="nav-item {{ mycollectstatus }} ">
        <a class="nav-link" href="{% url 'mycollect' %}">我的收藏</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">登录</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_signup' %}">注册</a>
      </li>
      {% endif %}
      <li class="nav-item {{ homestatus }}">
        <a class="nav-link" href="{% url 'market' %}">浏览</a>
      </li>
      <li class="nav-item dropdown {{ catgorystatus }}">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false" style="">分类</a>
        <div class="dropdown-menu" style="">
        {% for catgory in catgories %}
          <a class="dropdown-item" href="{% url 'catgory' catgory.id %}">{{ catgory }}</a>
        {% endfor %}
        </div
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">使用手册</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">联系我们 </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action='{% url 'search' %}'>
    {% comment %} <form class="form-inline my-2 my-lg-0" action=''> {% endcomment %}
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="text" placeholder="商品名称" name="keyword" required>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>