{% extends "market/base.html" %}
{% block content %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col">
        {% for good in goods.good1 %}
            {% include "market/userpublishcol.html" %}
        {% endfor %}
    </div>
    <div class="col">
        {% for good in goods.good2 %}
            {% include "market/userpublishcol.html" %}
        {% endfor %}
    </div>
    <div class="col">
        {% for good in goods.good3 %}
            {% include "market/userpublishcol.html" %}
            {% endfor %}
    </div>
    <div class="col">
        {% for good in goods.good4 %}
            {% include "market/userpublishcol.html" %}
        {% endfor %}
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
<div>
  <ul class="pagination pagination-lg ">
    <li class="page-item">
      <a class="page-link" href="{% url 'userpublishmovepage' customerid page %}?action=pre">&laquo;</a>
    </li>
    {% for num in pagerange %}
        {% if num == page %}
            <li class="page-item active">
                <a class="page-link" href="{% url 'userpublishpage' customerid num %}">{{ num }}</a>
            </li>  
        {% else %} 
            <li class="page-item">
                <a class="page-link" href="{% url 'userpublishpage' customerid num %}">{{ num }}</a>
            </li> 
        {% endif %}
    {% endfor %}
    <li class="page-item">
      <a class="page-link" href="{% url 'userpublishmovepage' customerid page %}?action=nex">&raquo;</a>
    </li> 
  </ul>
</div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
{% endblock %}
